*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.izquierda{
    margin-left: 100px;

}
.derecha{
    margin-left: 1000px;
    
}
.centro{
    margin-left:500px;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 200px;
    color: red;
    background-color: aquamarine;
}