@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Nunito+Sans:ital,opsz@1,6..12&family=Open+Sans:ital,wght@0,300;1,400&family=Pixelify+Sans&display=swap');

h3{
    font-family: 'Pixelify Sans', sans-serif;

}
a{
    text-decoration: none;

}
.gris{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    color: rgb(85, 79, 79);
    background-color: rgb(161, 156, 156);
    letter-spacing: 1px;
}