header{
    color: bisque;
}
.manzana{
    color: #c90505;
}
.pera{
     color: #e3e314;
}
.anana{
      color: #99990e;
}
.melon{
  color: rgb(173, 255, 47);
}
.banana{
    color: #ffff00;
}
.mango{
    color: #ee6408;

}
.naranja{
    color: #fba301;

}
.papaya{
    color: #fd0505;

}
.kiwi{
    color: rgb(32, 155, 32);

}
.pera{
    color: rgb(240, 240, 8);

}
.sandia{
    color: rgb(0, 128, 49);
}